In [68]:
import pandas as pd
df_all = pd.DataFrame()
df_tohoku = pd.DataFrame()
df_kanto = pd.DataFrame()
df_tokyo = pd.DataFrame()
df_hokuriku = pd.DataFrame()
df_kansai = pd.DataFrame()
df_chugoku = pd.DataFrame()
df_kyushu = pd.DataFrame()

input = './input'
input_list = os.listdir(path=input)

for name in input_list:
    pdf_column = []

    df = pd.DataFrame()
    df = pd.read_csv(f'./input/{name}')

    for index in range(len(df)):
        num = index + 1
        text = name.replace('.xlsx', '')
        value = f'{text}{num}'
        pdf_column.append(value)
    
    df['PDF出力用'] = pdf_column
    first_column = df.pop('PDF出力用')
    df.insert(0,'PDF出力用',first_column)

    df_all = pd.concat([df_all, df])

    if ('北海道' in name or '青森' in name or '岩手' in name or '宮城' in name or '秋田' in name or '山形' in name or '福島' in name):
        df_tohoku = pd.concat([df_tohoku, df])
    elif ('茨城' in name or '栃木' in name or '群馬' in name or '埼玉' in name or '千葉' in name or '神奈川' in name ):
        df_kanto = pd.concat([df_kanto, df])
    elif '東京' in name:
        df_tokyo = pd.concat([df_tokyo, df])
    elif ('新潟' in name or '富山' in name or '石川' in name or '福井' in name or '山梨' in name or '長野' in name or '岐阜' in name or '静岡' in name or '愛知' in name or '三重' in name):
        df_hokuriku = pd.concat([df_hokuriku, df])
    elif ('滋賀' in name or '京都' in name or '大阪' in name or '兵庫' in name or '奈良' in name or '和歌山' in name):
        df_kansai = pd.concat([df_kansai, df])
    elif ('鳥取' in name or '島根' in name or '岡山' in name or '広島' in name or '山口' in name or '徳島' in name or '香川' in name or '愛媛' in name or '高知' in name):
        df_chugoku = pd.concat([df_chugoku, df])
    elif ('福岡' in name or '佐賀' in name or '長崎' in name or '熊本' in name or '大分' in name or '宮崎' in name or '鹿児島' in name or '沖縄' in name):
        df_chugoku = pd.concat([df_chugoku, df])

In [70]:
df_tokyo

,PDF出力用,URL,会社名,郵便番号,住所,理由
0,東京国税庁.csv1,https://ttzk.graffer.jp/corporations/901040113...,株式会社グラファー,〒1510051,東京都渋谷区千駄ヶ谷１丁目５番８号,",新規,国内所在地の変更,国内所在地の変更,国内所在地の変更"
1,東京国税庁.csv2,https://ttzk.graffer.jp/corporations/604000301...,ああああ合同会社,〒2730866,千葉県船橋市夏見台１丁目１４番地２３号,",新規"
2,東京国税庁.csv3,https://ttzk.graffer.jp/corporations/310000300...,合同会社ヨウコウダイイイダ,〒3900876,長野県松本市開智２丁目３－３２,",新規"
3,東京国税庁.csv4,https://ttzk.graffer.jp/corporations/101150100...,株式会社コモディイイダ,〒1140023,東京都北区滝野川７丁目２７番７号,",新規"

In [46]:
num_tohoku = len(df_tohoku)
num_kanto = len(df_kanto)
num_tokyo = len(df_tokyo)
num_hokuriku = len(df_hokuriku)
num_kansai = len(df_kansai)
num_chugoku = len(df_chugoku)
num_kyushu = len(df_kyushu)

df_all.to_excel(f'\\外部IDあり_差異チェック結果結合（ALL）')
df_tohoku.to_excel(f'\\①ALL更新ありデータ_北海道・東北（{num_tohoku}件）')
df_kanto.to_excel(f'\\②ALL更新ありデータ_関東東京以外（{num_kanto}件）')
df_tokyo.to_excel(f'\\③ALL更新ありデータ_東京（{num_tokyo}件')
df_hokuriku.to_excel(f'\\④ALL更新ありデータ_北陸・信越・東海（{num_hokuriku}件）')
df_kansai.to_excel(f'\\⑤ALL更新ありデータ_近畿・関西（{num_kansai}件）')
df_chugoku.to_excel(f'\\⑥ALL更新ありデータ_中国・四国（{num_chugoku}件）')
df_kyushu.to_excel(f'\\⑦ALL更新ありデータ_九州・沖縄（{num_kyushu}件）')

Empty DataFrame
Columns: []
Index: []

In [66]:
name = '埼の何か'
if ('東京' in name or '埼玉' in name):
    print(True)